
[Desktop Entry]
Categories=GNOME;Utility;
Version=1.0
Type=Application
Terminal=false
Comment=Change edit languages of ibus-braille
Exec=ibus-braille-language-editor
Name=ibus-braille-language-editor
Icon=/usr/share/ibus-braille/icons/ibus-braille.png

Name[en_IN]=ibus-braille-language-editor
