[Desktop Entry]
Categories=GNOME;Utility;
Version=1.0
Type=Application
Terminal=false
Comment=Change preferences of ibus-sharada-braille
Exec=ibus-sharada-braille-preferences
Name=ibus-sharada-braille-preferences
Icon=/usr/share/ibus-sharada-braille/icons/ibus-sharada-braille.png

