
[Desktop Entry]
Categories=GNOME;Utility;
Version=1.0
Type=Application
Terminal=false
Comment=Change preferences of ibus-braille
Exec=ibus-braille-abbreviation-editor
Name=ibus-braille-abbreviation-editor
Icon=/usr/share/ibus-braille/icons/ibus-braille.png

Name[en_IN]=ibus-braille-abbreviation-editor
